
.signup{
  display: flex;
  flex-direction: column;
}
.signup-main{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.signup-content{
  height: 524px;
  display: flex;
  flex-direction: column;
}
.signup-hero{
  padding-top: 54px;
  padding-bottom: 10px;
  box-sizing: border-box;
}
.signup-hero .title{
  margin: 0;
  font-size: 36px;
  line-height: 42px;
  color:#fff;
  text-align: center;
}
.signup-hero .slogan{
  margin-top: 10px;
  color:#fff;
  text-align: center;
}
.signup-form-wrap{
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.signup-action button{
  display: block;
  width: 100%;
  line-height: 56px;
  border:0;
  color:#F77062;
  font-size: 14px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.20);
}
.signup-other-option{
  margin-top: 15px;
  margin-bottom: 35px;
  text-align: center;
}
.signup-other-option a{
  text-decoration: none;
  color:#fff;
  line-height: 20px;
}
