.sidebar-bg{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.2);
  display: none;
}
.sidebar-bg-active{
  display: block;
}
.sidebar{
  width: 300px;
  height: 100%;
  position: fixed;
  top:0px;
  left:-300px;
  z-index: 10;
  transition: all 0.5s linear;
}
.active{
  left:0px;
}
.sidebar>div{
  height: 100vh;
}
.insidebar{
  height: 100%;
  background-color: #fff;
  padding:2.5em 3em 0.8em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.sidebar-user{
  text-align: center;
}
.sidebar-user-avatar{
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50%;
  background-size: 170px;
  background-position: center center;
  margin: 0 auto;
}
.name-logout-wrap{
  display: flex;
  justify-content: center;
  padding: 16px 0;
  box-sizing: border-box;
}
.username{
  display: block;
  color:#F77062;
  font-size: 14px;
  text-align: center;
  line-height: 1;
  padding-right: 5px;
  box-sizing: border-box;
  border-right: 2px solid #F77062;
}
.logout{
  display: block;
  text-decoration: none;
  color:#F77062;
  font-size: 14px;
  padding-left: 5px;
  box-sizing: border-box;
  line-height: 1;
}
.menu-list{
  flex-grow: 2;
}
.menu-list a{
  display: block;
  text-decoration: none;
  color:#878787;
  font-size: 12px;
  line-height: 56px;
  border-bottom: 1px solid #E3E9EC;
}
.bottom-btn-close{
  display: block;
  width: 80%;
  border:0;
  text-decoration: none;
  color:#fff;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  margin: 30px auto;
  background-color: #FE5196;
}
